.idea
.github
.vscode
.git
.*ignore
.releaserc
.*.{yaml,yml}
.*.txt
.*.cache
*.dist.php
*.xml.dist
.pre-commit*.yaml
.env*
.env.template
Makefile
Dockerfile
/bin/*.sh
docker/resources
docker/compose.yaml
*compose-override.yaml
config/k8s
config/ssl
README.md
LICENSE
/secrets
/docs
/tests
/scripts
/node_modules
